*{
  box-sizing: border-box !important; 
}
 
body{
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden !important ;
  perspective: 1px;
  transform-style: preserve-3d;
  background-color: var(--shamrock-100) !important;
  margin: 0;
  padding: 0;
}



:root{
    --clr-white:#f8fcfa;
    --shamrock-primary: #eafff6;
    --shamrock-100: #ccffe8;
    --shamrock-200: #9efcd7;
    --shamrock-300: #60f5c4;
    --shamrock-400: #1adba1;
    --shamrock-secondary: #00cc94;
    --shamrock-600: #00a67a;
    --shamrock-700: #008566;
    --shamrock-800: #006951;
    --shamrock-900: #005645;
    --shamrock-dark: #003127;
}

.karla-unique{
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

.karla-small{
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px; 
}

.karla-normal{
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px; 
}


.karla-medium{
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.karla-medium2{
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font: large;
}

  .rubik-normal {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
  }

 .rubik-small{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
 } 
 
.rubik-extra{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
}

.rubik-special{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
 } 

.rubik-medium{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
   } 

.rubik-header {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 6.25rem;
}

main{
  height: 120vh;
  background-image: radial-gradient(circle at bottom, var(--shamrock-secondary), var(--shamrock-primary), var(--clr-white));
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tnav-a{
    color: var(--shamrock-secondary) !important;
}

section.hero{
  width: 100%;
}

.hero{
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% 40% 30%;
  grid-template-areas: 
  'blank'
  'name'
  'button';
  justify-self: baseline;
  align-self: baseline;
}


.nim{
  grid-area: name;
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-content: center;
}

.nim-nim{
  color: var(--shamrock-dark);
}

#tagline{
  grid-area: title;
}

.hero > .v-more-container{
  grid-area: button;
  display: flex;
  align-self: start;
  justify-self: center;
  text-decoration: none;
}

.about-content > .v-more-container{
  text-decoration: none;
}

.about-content > .v-more-container > .v-more{
  position: relative;
  left: 90%;
  top: 10%;
}


.about-me{
  height: 100vh;
  background-color: #E9FFF5;
}


body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: transparent;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: transparent;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: transparent;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(var(--shamrock-100)),
									   to(var(--shamrock-200)),
									    color-stop(.6,var(--shamrock-300)))
}

.nab{
  color: transparent;
}

.nav{
  position: relative;
  top: 0.5rem;
}

.eduTimeline{
  height: 1200px;
  background-image: linear-gradient(var(--shamrock-primary), var(--shamrock-100));
}

.h-timeline{
  position: relative;
  top: 5rem;
}

.about-content{
  background-color: var(--shamrock-secondary);
  height: 100%;
  width: 50%;
  float: right;
  padding: 10% 5% 5% 5%;
  display: block;
}

.about-content > h3{
  color: var(--shamrock-primary);
}

.p-about{
  margin-top: 10%;
  text-align: justify;
}

/* TimeLine */

.timeline {
  position: relative;
  top: 5rem;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  padding: 6px 10px;
  border-radius: 5px;
  
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.66666em;
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;
  
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

main,
.about-me{
  position: relative;
  top: -3rem;
}

.eduTimeline, 
.achivements,
.certificate{
  position: relative;
  top: -7.9rem;
}

.project,
.contacts{
  position: relative;
  top: -5rem;
}

.debayder{
  height: 13rem;
  width: 100vw;
  background-color: var(--shamrock-100);
}



.code {
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: -7rem;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.changing-text {
  background-color: var(--clr-white);
  font-size: 1em;
  line-height: 0.9em;
  margin-left: 0.15em;
  margin-right: 0.15em;
  margin-top: 0.15em;
  padding-left: 0.125em;
  padding-right: 0.125em;
  text-transform: capitalize;
  will-change: width;
  color: var(--shamrock-600);
}

.bracket {
  font-size: 1.4em;
  line-height: 1.15;
  font-family: tenso, sans-serif;
  font-weight: 500;
  color: var(--shamrock-800);
}
